.sentiment-great {
    color: rgba(62, 205, 14, 1);
}
.sentiment-ok {
    color:green;
}
.sentiment-neutral {
    color:blue;
}
.sentiment-not-ok {
    color: orange;
}
.sentiment-bad {
    color: red;
}

tbody tr {
    max-height: 20em;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.limit-row-height {
    max-height: 13em;
    overflow-y: auto;
    overflow-x: hidden;
}

.mailSubject {
    min-width:15rem;
}
.mailFrom {
    max-width: 20rem;
    text-overflow:ellipsis;
    overflow-x:hidden;
    white-space: nowrap;
}
.mailSentiment {
    max-width: 60px;
    text-overflow:ellipsis;
    overflow-x:hidden;
}

.loading-progress {
    padding: 1em;
}

    .loading-progress img {
        padding: 1em;
    }